.tutorial {
    padding: 70px 0 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
}

.tutorial__item {
    &-images {
      min-height: 270px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;  
    }

    &-title {
        background-color: #f8f8f8;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: $bg;
        padding: 30px 10px;
    }
}
